.Titre_CGU{
    background-color: #242C34;
    color: #2C94A4;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.Titre_secondaire_CGU {
    margin: 10px 150px 10px 150px;
    color: #74777C;
}

.corps_CGU {
    margin-right: 75px;
    margin-left: 75px;
    margin-bottom: 30px;
}