.Titre_secondaire_CGU {
    margin-bottom: 30px;
    color: #74777C;
}

.body-cgu{
	display: block;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    max-width: 50%;
    margin: 30px 250px 30px 250px;
    min-width: auto;
}

.corps_CGU{
    display: block;
	justify-content: center;
	align-items: center;
	align-content: center;
    margin: 10px;  
}