.breadcrumb {
    background-color: var(--green-blue);
    padding: 10px;
    color: white;
}

.forum-header {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    text-align: left;
}

.forum-container {
    display: flex;
    min-height: 650px;
}

.sidebar {
    background-color: var(--green-blue);
    color: white;
    padding: 20px;
    width: 500px;
}
.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
}

.div-list-questions{
    max-height: 450px;
    overflow-y: auto;
}
.div-list-questions ul {
    list-style-type: none;
}
.div-list-questions ul li {
    margin-bottom: 10px;
}

.question{
    text-decoration: none;
}

.question:hover {
    color: white;
}
.main-content {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.question-prompt {
    background-color: var(--green-blue);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

textarea, .ajout-sujet {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

textarea {
    border: 1px solid var(--green-blue);
    border-radius: 5px;
    resize: vertical;
}

.ajout-sujet {
    background-color: #242C34;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ajout-sujet:hover {
    background-color: #2C94A4;
}

#searchBox {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.suggestions {
    background: white;
    border: 1px solid #ccc;
    border-top: none;
}

.suggestions a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.suggestions a:hover {
    background-color: #f0f0f0;
}

.discussion{
    max-height: 400px;
    overflow-y: auto;
}
.general-discussion{
    display: none;
}

.message {
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid black;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 20px
}

.message-content {
    padding: 10px;
    border-radius: 5px;
}

.message-time {
    font-size: 0.8em;
    color: #888;
}

.right {
    margin-left: 60%; /* Ajoute une marge à gauche pour les messages à droite */
    background-color: #dcf8c6;
}

.left {
    margin-left: 20%; /* Ajoute une marge à droite pour les messages à gauche */
    background-color: #fff;
}
.username {
    font-weight: bold;
    margin-bottom: 5px;
}
.container-ajout-message{
    margin-top: 20px;
}
.container-ajout-message textarea {
    resize: none;
}
.ajout-message {
    border-radius: 5px;
    background-color: #242C34;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

.ajout-message:hover {
    background-color: #2C94A4;
}

.supprimer-sujet {
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: none;
}

.supprimer-sujet:hover {
    background-color: var(--grey);
    color: red;
}

@media screen and (max-width: 1200px) {

    .sidebar {
        width: 300px;
    }
}