.navbarcinema {
    background-color: var(--green-blue);
    display: flex;
    padding: 10px;
    text-align: left;
    color: var(--grey);
}

.navbarcinema a {
    text-decoration: none;
    color: var(--grey);
    margin-left: 5px;
    margin-right: 5px;
}

.navbarcinema a:hover {
    color: var(--grey);
}