.navbarcinema {
    background-color: var(--green-blue);
    display: flex;
    padding: 10px;
    text-align: left;
    color: var(--grey);
}

.navbarcinema a {
    text-decoration: none;
    color: var(--grey);
    margin-left: 5px;
    margin-right: 5px;
}

.navbarcinema a:hover {
    color: var(--grey);
}

.cinema-card {
    display: flex;
    align-items: center; /* Centre les enfants horizontalement */
    justify-content: center; /* Centre les enfants verticalement */
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .cinema-card img {
    margin-bottom: 20px; /* ajoute de l'espace entre l'image et le texte */

  }

  .cinema-info {
    text-align: left; 
  }

  .cinema-info h2 {
    font-size: 24px;
    margin-top: 10px;
  }

  .cinema-info p {
    margin: 0;
    color: #666;
  }

  .icons {
    display: flex;
    justify-content: left; /* Centre les icônes horizontalement */
    width: 100%; /* Assure que le flex container des icônes prend toute la largeur */
  }

  .icons img {
    margin-top: 20px;
    margin-left: 10px;
    width: 24px; /* Taille des icônes */
    height: 24px;
  }

  .grey {
    background-color: var(--grey);
  }