.top-bar {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: left;
    border: 1px solid grey;
    border-radius: 20px;
    background: white;
    padding: 5px 10px;
    max-width: 250px;
    margin-left: 150px;
}

 #resultats{
     display: none;
 }

.search-image {
  margin-left: 325px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    align-items: center;
  }

  .search-bar {
    margin-bottom: 20px;
    margin-left: 0;
    width: 90%;  /* Adjust width to fill screen */
  }

  .search-image {
    margin-left: 0;  /* Center the button */
  }
}

@media (max-width: 480px) {
  .search-input {
    width: 70%;  /* Adjust input width for smaller devices */
  }

  .search-image {
    width: 100%;
    display: flex;
    justify-content: center;  /* Center the plus icon */
  }
}

.plus {
  font-size: 2rem;
  color :var(--green-blue);
}

.plus:hover {
  color :var(--green-blue);
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    flex-grow: 1;
}

.search-button {
    background: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

.search-button:active, .search-button:focus{
  outline: none;

}

.search-button i {
    font-size: 18px;
    color: black;
    margin-right: 10px;
}

.cinema-card {
    display: flex;
    align-items: center; 
    justify-content: center; 
    background: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

  .cinema-card img {
    margin-right: 15px;
    width: 150px; 
    height: 150px; 
    border: 1px solid black;
  }

  .cinema-info {
    text-align: left;
    width: 350px;
  }

  .cinema-info a {
    color: black;
  }

  .cinema-info a:hover {
    color: black;
  }

  .cinema-info h2 {
    font-size: 24px;
    margin-top: 10px;
    
  }

  .cinema-info p {
    margin: 0;
    color: #666;
  }

  .icons {
    display: flex;
    margin-top: 10px;
    font-size: 20px;
  }

  .icons i {
    margin-right: 20px;
  }
  
  .icons i:last-child {
    margin-right: 0; 
  }

  .grey {
    background-color: var(--grey);
  }