
.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: var(--green-blue);
}

.question {
    margin-bottom: 20px;
    color: var(--black-blue);
}

.question h2 {
    font-size: 20px;
    margin: 0;
}
.question p {
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.6;
    color: var(--green-blue);
}
