.img-nav{
    display: flex;
    justify-content: center;
}
.nav{
    background-color: #242c34;
    padding: 5px;
    display: block !important;
}
.centered-list {
    text-align: center;
}

.centered-list li {
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 30px;
}
.centered-list li a {
    text-decoration: none;
    color: #2C94A4;
    &:hover {
        transition: 0.5s;
        color: #EFEFEF;
    }
}
.centered-list li button {
    font-size: 1.3rem;
    border: 0;
    background-color: transparent;
    color: #2C94A4;
    &:hover {
        transition: 0.5s;
        color: #EFEFEF;
    }
}
