.img-nav{
    display: flex;
    justify-content: center;
}
.nav{
    background-color: var(--black-blue);
    padding: 5px;
    display: block !important;
}
.centered-list {
    text-align: center;
}

.centered-list li {
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 30px;
}
.centered-list li a {
    text-decoration: none;
    color: var(--green-blue);
    &:hover {
        transition: 0.5s;
        color: var(--grey);
    }
}
.centered-list li button {
    font-size: 1.3rem;
    border: 0;
    background-color: transparent;
    color: var(--black-blue);
    &:hover {
        transition: 0.5s;
        color: var(--grey);
    }
}

body {
    margin: 0;
}
