
.table{
    width: 95%; 
    height: auto; 
    border-collapse: separate;
    border-spacing: 10px;
}

.td_1{
   width: 30%; 
   height: auto; 
   text-align: center;
   padding: 15px;
   border: 1px solid #ccc;
}

.td_2{
   width: 50%; 
   height: auto; 
   text-align: center;
   padding: 10px;
}

.td_3{
   width: 90%; 
   height: auto; 
   text-align: center;
   padding: 6px;
}

.seance-card {
    border-radius: 10px;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 10px;
}
.seance {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.seance a{
    text-decoration: none;
    color: black;
}

.seance a:hover{
    color: black;
}
.image-container {
    width: 180px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image_cinema{
    width:148px;
    height:98px;
}

.google_maps{
    width : 400px;
    height : 300px;
    border:0;
    padding: 6px;
}

.meteo{
    width : 290px;
    height : 318px;
    border: 1px solid #00537F;
    border-radius: 0px;
    padding: 6px;
}
.plus {
    font-size: 1.5rem;
    color :var(--green-blue);
}
.plus:hover {
    color :var(--green-blue);
}

#image_film{
    width:30%;
    height:auto;
}

#table_2{
    border-spacing: 10px;
}

.langue{
    padding:50px;
}
.icons{
    font-size: 25px;
    margin-right: 10px;
}