.Titre_statseance{
    text-align: center;
    color: #2C94A4;
    background-color: #242C34;
    padding: 50px;
}

.path_statseance{
    color: white;
    background-color: #2FD7CC;
    padding: 20px;
    margin-bottom: 50px;

}