.container_statseance{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-evenly;
}

.column_statseance {
    float: left;
    width: 45%;
    padding: 10px;
    margin: 15px;
    min-height: 300px;
  }

  .espace_bouton{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
  }
  
  .row_after_column_statseance {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    padding: 30px 20% 30px 20%;
    background-color: #EFEFEF;
  }

.capteur{
  border-color: #2C94A4;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.1s;
  margin: 5px 10px 5px 10px;
}

.capteur:hover{
  transform: scale(1.2);
}


@media screen and (max-width: 600px) {
  .column_statseance {
    width: 100%;
    margin: 20px 0px 20px 0px;
    float: none;
  }
  .espace_bouton{
    flex-direction: column;
  }
}

canvas.stat_graph{
  display: none;
}

.container1-stat{
  background-color: #EFEFEF;
  padding-top: 30px;
}