.cine-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    margin-top: 10px;
}

.grey{
    background-color: var(--grey);
}

.cine-info img{
    width: 300px;
}
.cine-info-text{
    width: 400px;
}

.info-site{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
    text-align: center;
}

.info-site img{
    width: 200px;
}

.info-site-text{
    height: 250px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    color: var(--grey);
    width: auto;
    margin-top: -22px;
    background-color: transparent;
    font-size: 4rem;
    border: 0;
}
.next:active,
.next:focus,
.prev:active,
.prev:focus{
    outline: 0;
}

.next {
    right: 0;
}
.slide {
    text-align: center;
    color: var(--grey);
}
.slide h3{
    font-size: 2rem;
    margin-top: -50px;
}

.slide img {
    width: 100%;
    height: 700px;
    object-fit: cover; /* Cette propriété permet de s'assurer que l'image couvre toute la zone définie, elle peut cependant être coupée si ses proportions ne correspondent pas */
}
.hidden {
    display: none !important;
}
@media screen and (max-width: 1400px){
    .prev, .next {
        top: 50%;
    }
    .slide img {
        height: 500px;
    }
}
@media screen and (max-width: 1200px){
    .next, .prev {
        font-size: 3rem;
        top: 40%;
    }
    .slide img {
        height: 400px;
    }
}
@media screen and (max-width: 1000px){
    .next, .prev {
        font-size: 2rem;
    }
    .slide img {
        height: 300px;
    }
    .slide h3{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 750px){
    .cine-info{
        flex-direction: column;
        height: 500px;
    }
    .cine-info img{
        width: 200px;
    }
    .cine-info-text{
        width: 300px;
    }
    .info-site{
        flex-direction: column;
        height: 1000px;
    }
    .info-site img{
        width: 150px;
    }
    .slide h3{
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px){
    .next, .prev {
        font-size: 1.5rem;
    }
}