.links{
    display: flex;
    background-color: #242c34;
    color: #2C94A4;
}

.links img {
    margin-right: 10px;
}

.links-info{
    margin-right: 40px;
}

.links-info a {
    color: #2C94A4;
}

.links-cgu{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #FFFFFF ;
    background-color: #000000;
}
.links-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none
}

.links-page a {
    color: #2C94A4;
}

.links-cgu a {
    color: #FFFFFF !important;
}