.links{
    display: flex;
    background-color: var(--black-blue);
    color: var(--green-blue);
    padding-top: 20px;
}

.links img {
    margin-right: 10px;
}

.links-info{
    margin-right: 40px;
}

.links-info a {
    color: var(--green-blue);
}

.links-cgu{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: var(--grey);
    background-color: #000000;
}
.links-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none
}

.links-page a {
    color: var(--green-blue);
}

.links-cgu a {
    color: var(--grey) !important;
}

@media screen and (max-width: 550px) {
    .links {
        flex-direction: column;
        align-items: center;
    }
    .links img {
        width: 60%;
    }
    .links-info {
        margin-right: 0;
        margin-top: 20px;
    }
    .links-page {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

