.form-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info{
    display: flex;
    justify-content: space-around; /* Aligner les éléments vers le haut */
    align-items: flex-start; /* Aligner les éléments à droite */
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
}
.droite{
    display: flex;
    flex-direction: column;
}
.block{
    display: block !important;

}
.input{
    background-color: var(--grey);
    border: 0px;
    border-radius: 10px;
    width: 200px ;
    height: 40px ;
}

.lieu_cinema{
    margin-top: 40px;
}

.gauche{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_image_cinema_bp {
    margin-top: 10px;
    background-color: var(--black-blue); 
    color: var(--green-blue); 
    padding: 5px 5px; 
    border-radius: 5px; 
    font-size: 16px;
}
.droite button {
    color: var(--green-blue);
    background-color: var(--black-blue);
    border-radius: 10px;
    width: 200px ;
    height: 40px ;
    margin-top: 70px;
}

.droite textarea{
    resize: none;
    width: 350px;
    height: 180px;
    border-radius: 10px;
    border: none;
    background-color: #d9d9d9;
}

.milieu input,
    .droite #salleCinema input{
    resize: none;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #d9d9d9;
}

.highlight {
    color: red;
}

.image-container {
    width: 200px; /* ou une largeur fixe, par exemple 500px */
    height: 260px; /* Hauteur fixe pour le conteneur */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%; /* L'image prend toute la largeur du conteneur */
    height: 100%; /* L'image prend toute la hauteur du conteneur */
    object-fit: cover;
  }

  .ligne-noire {
    border: 1px solid black; /* couleur de la ligne noire */
    margin-bottom: 40px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .checkbox_access{
    display: flex;
    align-items: baseline;
    
  }

  .checkbox_access input{
    margin-right: 20px;
  }

  @media (max-width: 900px) {
    .info{
        flex-direction:column;
        align-items: center;
    }
    
  }